@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

.container{
    display: flex;
    align-items: center;
    height: 100%;

}
.rating{
    max-width: 250px;
    margin-left: 50px;
}

h4{
    width: 10px;
    padding-left: 50px;
    font-size: large;

}

/* .rating > input{
    display: none;

}
.rating label:before{
    content: '\f006';
    font-family: FontAwesome;
    margin: 5px; 
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;
    position: relative;
} 

.rating label{
    float: right;
    cursor: pointer;
} */
/* .rating > input:checked ~ label,
.rating:not(:checked) > label::before,
.rating:not(:checked)>label :hover ~ label{
 color: aqua;
}

.rating >input:checked + label:hover,
.rating >input:checked ~ label:hover,
.rating >label:hover ~ input:chekced ~ label,
.rating >input:checked ~label:hover ~label{
    color: rgb(230, 31, 31);
} */
